<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 	xmlns="http://java.sun.com/xml/ns/javaee"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
   id="WebApp_ID" version="3.0">
   <!-- Login -->
  <servlet>
  	<display-name>LoginServlet</display-name>
  	<servlet-name>LoginServlet</servlet-name>
    <servlet-class>DoServlet.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/DoServlet/LoginCheck</url-pattern>
  </servlet-mapping>
  <!-- Regist -->
  <servlet>
  	<display-name>RegistServlet</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>DoServlet.Regist.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/DoServlet/RegistCheck</url-pattern>
  </servlet-mapping>
  <!-- FindPassword -->
  <servlet>
  	<display-name>F_Servlet</display-name>
    <servlet-name>F_Servlet</servlet-name>
    <servlet-class>DoServlet.Regist.FindPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>F_Servlet</servlet-name>
    <url-pattern>/DoServlet/FindPassword</url-pattern>
  </servlet-mapping>
</web-app>